@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar",
  "typo",
  "standard";

.card {
    background-color: lightgray !important;
    border:none;
    text-align:center;
  }

.styletile .img{
  margin-bottom:50px;
}

.content{
  margin-bottom: 50px;
  background-color: transparent;}

.content img{
  margin-bottom:130px;
  margin-top: 20px;
}

p img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

.round{
  border-radius:50%;
  margin: 0 20 0 20;
  padding:10px;
}

.tag{
  margin-top: 30px;
  height: 300px;
  overflow: hidden;
  margin-bottom:30px;
}