@charset "UTF-8";

@import
  "../bootstrap-variables",                  // See _bootstrap-variables.scss
  "../../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
  "layout",
  "navigation",
  "scrollbar",
  "typo",
  "standard";

.card {
    background-color: lightgray !important;
    border:none;
    text-align:center;
  }

img[alt=screen]{ width: 100%;}
img[alt=idea]{ width: 100%;}

.styletile .img{
  margin-bottom:50px;
}

.content{
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;

}
.content .h1{
  margin-bottom:20px;
}