h1{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom:50px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2{
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 40px;
    margin-top:40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p, ul{
    font-family:Avenir; 
    font-weight: 300;
}
