h1{
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom:70px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Bebas Neue;
}
h2{
    font-size: 1.7em;
    font-weight: 600;
    text-align: left;
    margin-bottom: 30px;
    margin-top:30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Bebas Neue;
    color:black;
}

p, ul{
    font-family: Avenir; 
    font-weight: 200;
}


h3, 
h4,
h5,
h6{
    font-family: Bebas Neue;
    margin-top:50px;
}

button{
    text-align:center;
    background-color:#D3D526;
    color:black;
    font-family: bebas-neue, sans-serif;
    font-style: normal;
    font-weight: 400;
    border:none;
    text-transform: capitalize;
    padding:10px;
    cursor:pointer;
    margin-top:50px;
}

button:hover{
background-color:black;
color:#D3D526;
border: solid #D3D526 1px;
}

.background{
height:600px;
background-color:black;
padding:50px;
}

.button1{
    background-color:black;
    color:white;
    text-align:center;
    cursor:pointer;
}
